@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-nimbus-sans-d-ot: 'Nimbus Sans D OT', Helvetica, Arial, sans-serif;

    --color-background: 52 94% 94%;
    --color-foreground: 62 25% 22%;
    --color-primary: 74 32% 32%;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }
}

@layer base {
  * {
    @apply border-foreground;
  }

  ::selection {
    @apply bg-primary/80 text-background;
  }

  body {
    @apply min-h-screen bg-background font-sans text-base font-normal text-foreground antialiased w-screen overflow-x-hidden;
  }
}
